# fill in from services.sunlightlabs.com
:sunlight_api_key:

:mongoid:
  defaults: &defaults
    host: localhost
    raise_not_found_error: false

  development:
    <<: *defaults
    autocreate_indexes: true
    database: rtc_development

  production:
    database: rtc_production