# fill in from services.sunlightlabs.com
:sunlight_api_key:

# fill in from opencrs.com/api
:opencrs_api_key: "cc5a9d23-1b4c-4532-98be-6235ffb19f20"

:services:
  :shared_secret:
  :api_name: realtimecongress

:mongoid:
  host: localhost
  database: rtc
  raise_not_found_error: false

:elastic_search:
  :host: localhost
  :port: 9200
  :index: rtc

:log_file: /dev/null

:email:
  :via: :smtp
  :to:
    -
  :from:
  :via_options:
    :address:
    :port:
    :user_name:
    :password:
    :authentication: plain
    :domain:
    :enable_starttls_auto: false
