elastic_search:
  host: localhost
  port: 9200
  index: rtc

# information for the Citation extraction API (https://github.com/unitedstates/citation)
citation:
  hostname: localhost:3000

s3: 
  secret: 
  key: 

:email:
  :via: :smtp
  :to:
    -
  :from:
  :via_options:
    :address:
    :port:
    :user_name:
    :password:
    :authentication: plain
    :domain:
    :enable_starttls_auto: false

# to send emails to owners of specific tasks
:task_owners:
  # :legislators: 
  #   - email@example.com