
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunlight Congress API</title>


  <link rel="shortcut icon" type="image/ico" href="assets/favicon.ico">
  <link rel="stylesheet" type="text/css" href="assets/documentup.css?{{ site.time | date: "%Y%m%j%H%M%S" }}" />
  <link rel="stylesheet" type="text/css" href="assets/syntax.css?{{ site.time | date: "%Y%m%j%H%M%S" }}" />
  <script type="text/javascript" src="//use.typekit.net/blp6kvr.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body>

<div class="sf-header">
  <div class="container">
    <a class="sf-logo" href="http://sunlightfoundation.com">Sunlight Foundation</a>
  </div>
</div>

<div id="container">
  <div id="nav">

    <div id="header">
      <h1><a href="index.html" id="logo">Sunlight Congress API</a>
    </div>

    <ul id="sections">

    </ul>


    <div class="extra twitter">
      <iframe allowtransparency="true" frameborder="0" scrolling="no" style="width:162px; height:20px;" src="https://platform.twitter.com/widgets/follow_button.html?screen_name={{ site.twitter }}&show_count=false"></iframe>
    </div>
    <div class="thanks">
      design adapted from <a href="http://documentup.com">DocumentUp</a>
    </div>
  </div>

  <div id="content">

    {{ content }}

  </div>

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ site.google_analytics }}', 'sunlightlabs.github.io');
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview');
</script>

</body>
</html>